@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  background-color: #fff;
}

.navbar {
  width: 100%;
  height: 84px;
  box-shadow: -1.3px 1.5px 3px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #ebebeb;
  padding: 0;
}

button.navbar-toggler {
  margin: 17.5px 0;
  border: none;
  cursor: pointer;
}

button.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}

.navbar-brand {
  max-width: 200px;
}

.navbar-brand img.icon {
  margin-left: 41px;
  margin-right: -6px;
  height: 34px;
}

.navbar-brand img.copy {
  height: 31px;
  margin-right: 23px;
  margin-top: 5px;
}

.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #353535;
  margin-left: 30px;
}

.nav-link:hover {
  color: inherit;
  opacity: 0.75;
}

button.search {
  width: 101px;
  height: 43px;
  border-radius: 5px;
  background-color: #ff6c0e;
  box-shadow:  0 2px 3px 0 rgba(0, 0, 0, 0.17);
  margin-left: 0;
  margin-right: 50px;
  color: #fff;
  cursor: pointer;
}

button.search:hover {
  color: #fff;
}

.block-one {
  max-height: 787px;
}

.block-one .container-fluid {
  margin-left: 22px;
}

.block-one .col-5 {
  padding: 0;
}

.yellow-line {
  width: 78px;
  height: 6px;
  background-color: #ffc000;
  margin-bottom: 44px;
}

.large-text {
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 3.2px;
  color: #353535;
  margin-bottom: 37px;
  max-width: 490px;
}

.small-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
  color: #414141;
  margin-bottom: 42px;
  max-width: 460px;
}

.start-today {
  width: 230px;
  height: 62px;
  border-radius: 5px;
  background-color: #ff6c0e;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.17);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}